.pic{
 text-align:center;
}


h1 .zh_name{
    font-size: 2rem;
    text-align: center;
    line-height: 2.2rem;
}

h1 .en_name{
    font-size: 1.2rem;
    text-align: center;
}

.email,.phone{
    font-size: 1.2rem;
    text-align: center;    
}

.left,.right{
    float: left;
    width: 50%;
}

@media (max-width:800px){
    .left,
    .right{
        width:100%;
    }
}